.navbar {
  position: relative;
  background: #4a1f1f;
  color: #fff;
  padding: 0 2rem;
  height: 85px;
  display: flex;
  align-items: center; /* Esto centra el logo verticalmente */
  justify-content: flex-start; /* Alinea el logo a la izquierda */
  box-shadow: none;
  z-index: 10;
}

/* Difuminado */
.navbar::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px; /* baja un poco para cubrir el borde */
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, #4a1f1f, rgba(248, 146, 58, 0));
  pointer-events: none; /* que no bloquee clics */
}

.logo {
  height: 50px; /* Ajusta el tamaño del logo según lo desees */
  margin: 1rem; /* Puedes ajustar el margen si es necesario */
  cursor: pointer;
}

.brand {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff; /* más contraste en el header */
}

.spacer {
  flex: 1 1 auto;
}

.navbar a {
  font-weight: 600;
  margin-left: 1rem;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #d1a000; /* secundario */
}
