.contact-bar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4a1f1f;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 100; /* Valor bajo para que los botones puedan estar por encima */
}
.contact-bar a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.whatsapp-float {
  width: 24px;
  height: 24px;
}
